<section class="w-100 mt-5" style="background-color: #627254; height: 40vh;">
    <div class="container pt-5" >
        <div class="row justify-content-lg-between text-center text-white">
        <div class="col-sm">
                <h4 class="display-6" style="font-size: 1.75rem">Company</h4>

        </div>
        <div class="col-sm">
            <h4 class="display-6" style="font-size: 1.75rem">Company</h4>

        </div>
        <div class="col-sm">
            <h4 class="display-6" style="font-size: 1.75rem">Company</h4>

        </div>
        <div class="col-sm">
            <h4 class="display-6" style="font-size: 1.75rem">Company</h4>

        </div>

    </div>
    </div>
</section>