<section class="w-100" style="background-color: #627254; height: 80vh; margin-top: 0; padding-top: 180px;">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
          <h1 class="display-3 fw-bold mb-3">Greater You</h1>
          <p><i>One thing I am too sure about is the fact that YOU were designed for greatness!</i></p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-light btn-lg px-4 gap-3">Free Consultation</button>
            <button type="button" class="btn btn-outline-light btn-lg px-4">Buy Credits</button>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- style="background-image: url('./assets/img/heroes/hero-1/hero-main.jpg');" -->