{% extends '..\..\users\templates\base.html' %}

{%  block content %}
<div class="row">
 <div class="col-md-8">

     {% if posts %}
     <h3>Latest News</h3>
    <ul>
    
      {% for post in posts %}
      <li>
      
        <a href="{% url 'post_details' post.id %}">
            
            {{ post.title }}

        </a>
         
          <br>
        {{ post.description }} <br>
        <small>
          Posted by:
          
            {% for aut in post.author.all %}
              {{ aut.first_name }} {{ aut.last_name }},
            {% endfor %}
          
          {{ post.created_at }}
        </small>
      </li>
      <br>
      {% endfor %}
      
    </ul>
  {% endif %}
 </div>
  <div class="col-md-4"></div>

</div>
{% endblock %}


